@model string
<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
        <div class="top-left-part">
        <a class="logo" href="/trang-chu"><b></b>
         <span class="hidden-xs"><img src="/UI/achau/screenshot_1570584967.png" style="     max-height: 500px;width: 450px;height: 90px;margin-top: -70px;margin-left: 100px;" alt="home" /></span>
            </a></div>
        @*<ul class="nav navbar-top-links navbar-left hidden-xs">
            <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>
            <li>
                <form role="search" class="app-search hidden-xs">
                    <input type="text" placeholder="Search..." class="form-control">
                    <a href=""><i class="fa fa-search"></i></a>
                </form>
            </li>
        </ul>*@
        <ul class="nav navbar-top-links navbar-right pull-right">
          
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">
                    <b class="hidden-xs">TRA CỨU HÓA ĐƠN </b>
                </a>
                <ul class="dropdown-menu dropdown-user animated flipInY">
                    <li><a href="trang-chu" target=""><i></i> Tra cứu bằng số bảo mật</a></li>
                    <!--<li><a href="/TraCuu/Upload" target=""><i></i>Tra cứu bằng File tải lên</a></li>
                    <li><a href="/Tracuu/UploadAPI" target=""><i></i> Tra cứu File Zip</a></li>-->
                </ul>
            </li>
            <li><a href="/tim-kiem-invoice" style="font-weight:bold" target =""><i></i>TÌM KIẾM HÓA ĐƠN</a></li>
            @if (User.Identity.Name.ToUpper() == "ADMINISTRATOR" || User.Identity.Name == "admin" || User.Identity.Name == "truyennv")
            {
                <li class="dropdown">
                    <a class="dropdown-toggle profile-pic waves-effect" data-toggle="dropdown" href="forms.html">
                        <b class="hidden-xs">ADMINISTRATOR</b>
                    </a>
                    <ul class="dropdown-menu dropdown-user animated flipInY">
                        <li><a href="/quan-ly-database" target=""><i></i>Khách hàng</a></li>
                        <li><a href="/tim-kiem-khachhang" target=""><i></i>Tìm kiếm khách hàng</a></li>
                    </ul>
                </li>
            }

            <li class="dropdown">
                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">

                    <b class="hidden-xs">@User.Identity.Name.ToUpper()</b>
                </a>
                <ul class="dropdown-menu dropdown-user animated flipInY">                   
                   
                    <li><a onclick="abc();"><i class="ti-settings"></i> Đổi mật khẩu</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/Account/LogOff"><i class="fa fa-power-off"></i> Đăng xuất</a></li>
                    @*<li>@Html.ActionLink("Đăng xuất","LogOff", "Account")</li>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                         <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i> Đăng xuất</a></li>
                    }
                }*@
                </ul>
                <!-- /.dropdown-user -->
            </li>

        </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>