<div class="header-middle p-0 bg-lightest xs-text-center" style="background-image:url('../../UI/achau/background-header1.png')">
    <div class="container pt-0 pb-0">
        <div class="row">
            
            <div class="col-xs-12 col-sm-3 col-md-2">

                <a href="https://triluat.com" class="menuzord-brand flip xs-pull-center mt-10 mb-10" style="display: inline-block;margin: 10px 0;">
                    <img alt="" src="~/UI/achau/LOGO CTY TU VAN 3.png">
                    
                </a>

            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 xs-hidden">
                <div class="widget no-border m-0">
                    <div class="mt-10 flip sm-text-center">
                        <div class="font-20 mb-5 font-weight-600" style="color:black">
                            <span style="text-align: center; display: block;">“Chất lượng - Phục vụ -&nbsp;Uy tín - Bảo Mật”</span>

                            <span style="text-align: center; display: block;">luôn tạo niềm tin cho quý Doanh nghiệp</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-5 xs-hidden">
                <div class="widget no-border m-0">
                    <ul class="list-inline text-right flip sm-text-center mt-5" style="font-size: 14px;">
                        <li> <a href="https://triluat.com/van-ban">Văn bản-TTHC</a> </li>
                        <li class="text-theme-colored" style="padding-right: 0px;padding-left: 0px;">|</li>
                        <li> <a href="https://triluat.com/hoi-dap">Hỏi đáp</a> </li>
                        <li class="text-theme-colored" style="padding-right: 0px;padding-left: 0px;">|</li>
                        <li> <a href="https://triluat.com/thuat-ngu">Thuật Ngữ</a> </li>
                        <li class="text-theme-colored" style="padding-right: 0px;padding-left: 0px;">|</li>
                        <li> </li>
                        <li> <a href="https://triluat.com/mau-hop-dong">Mẫu Hợp Đồng</a> </li>
                        <li class="text-theme-colored" style="padding-right: 0px;padding-left: 0px;">|</li>
                        <li> <a href="https://triluat.com/hinh-anh">Hình ảnh</a> </li>
                        <li>

                            <a class="top-search-box has-dropdown text-black text-hover-theme-colored" href="#">

                                <i class="fa fa-search font-13"></i> &nbsp;
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<header id="hs-masthead" class="hs-site-header hs-clearfix hs-black" style="background-color:#880000 !important" >
    <div class="hs-container">
        <!-- <div class="header-more-info" style="margin-right:25px ;font-size:12px">-->
        <!--<a target="_black" href="https://minvoice.vn/" class="back_link_button"><i class="fas fa-envelope"></i><span>info@minvoice.vn</span></a>

        <div class="language_switch">-->
        <!--   <a href="/home-en"<a> English</a> <title="English" class="">

                <img src="~/UI/tracuu.minvoice.vn/images/gb.png"  style="width:20px; "title="English" />
                <a href="tel:0901 801 618" class="mobile_button_phone">Free Hotline: 1800 6116</a>

            </a>
        </div>
        </div>-->
        <!-- .site-branding -->
        <nav id="hs-site-navigation" class="hs-main-navigation">
            <div class="abc">
                <div class="hs-toggle-menu"><span></span></div>
            </div>
            <div class="hs-menu">
                <ul id="menu-main-menu" class="hs-clearfix">
                    <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36 ">
                        <a href="https://triluat.com"><img style="width:25px" src="https://triluat.com/public/uploads/d43a827389d4ea36ff943a9f0af9a496/images/icon-removebg-preview.png"></a>
                    </li>

                    <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-36">
                        <a href="https://triluat.com/gioi-thieu">GIỚI THIỆU</a>
                    </li>
                    
                    <li id="menu-item-448" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-448">
                        <a href="#">
                            PHÁP LÝ
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdownn" style="right: auto; ">
                            <li><a href="https://triluat.com/dich-vu/thanh-lap-doanh-nghiep-trong-nuoc">THÀNH LẬP DOANH NGHIỆP TRONG NƯỚC</a></li>
                            <li><a href="https://triluat.com/dich-vu/tu-van-dau-tu-nuoc-ngoai">TƯ VẤN ĐẦU TƯ NƯỚC NGOÀI</a></li>
                            <li><a href="https://triluat.com/dich-vu/thay-doi-noi-dung-dang-ky-kinh-doanh">THAY ĐỔI NỘI DUNG ĐĂNG KÝ KINH DOANH</a></li>
                            <li><a href="https://triluat.com/dich-vu/thanh-lap-chi-nhanh---vpdd">THÀNH LẬP CHI NHÁNH - VPĐD</a></li>
                            <li><a href="https://triluat.com/dich-vu/dang-ky-lao-dong---bhxh">ĐĂNG KÝ LAO ĐỘNG - BHXH</a></li>
                            <li><a href="https://triluat.com/dich-vu/giai-the-doanh-nghiep---chi-nhanh---vpdd">GIẢI THỂ DOANH NGHIỆP - CHI NHÁNH - VPDĐ</a></li>
                            <li><a href="https://triluat.com/dich-vu/dich-vu-khac-ho-tro-doanh-nghiep">DỊCH VỤ KHÁC HỖ TRỢ DOANH NGHIỆP</a></li>
                        </ul>
                    </li>

                    <li id="menu-item-448" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-448">
                        <a href="#">
                            KẾ TOÁN THUẾ
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown" style="right: auto;  display: none;">
                            <li><a href="https://triluat.com/dich-vu/ke-toan-thue-tron-goi">KẾ TOÁN THUẾ TRỌN GÓI</a></li>
                            <li><a href="https://triluat.com/dich-vu/ke-toan-thue-chuyen-nghiep">KẾ TOÁN THUẾ CHUYÊN NGHIỆP</a></li>
                            <li><a href="https://triluat.com/dich-vu/tu-van-ke-toan-thue-thuong-xuyen">TƯ VẤN KẾ TOÁN THUẾ THƯỜNG XUYÊN</a></li>
                            <li><a href="https://triluat.com/dich-vu/dich-vu-hoan-thue">DỊCH VỤ HOÀN THUẾ</a></li>
                            <li><a href="https://triluat.com/dich-vu/quyet-toan-thue-tncn">QUYẾT TOÁN THUẾ TNCN</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-448" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-448 ">
                        <a href="#">
                            KIỂM TOÁN
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown" style="right: auto;  display: none;">
                            <li><a href="https://triluat.com/dich-vu/kiem-toan-bao-cao-tai-chinh">KIỂM TOÁN BÁO CÁO TÀI CHÍNH</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-448" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-448 ">
                        <a href="#">
                            THUÊ VĂN PHÒNG
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown" style="right: auto;  display: none;">
                            <li><a href="https://triluat.com/dich-vu/cho-thue-van-phong">CHO THUÊ VĂN PHÒNG</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-448" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-448 ">
                        <a href="#">
                            HÓA ĐƠN ĐIỆN TỬ
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown" style="right: auto;  display: none;">
                            <li><a href="https://triluat.com/dich-vu/bang-gia-hoa-don-dien-tu">BẢNG GIÁ HÓA ĐƠN ĐIỆN TỬ</a></li>
                            <li><a href="http://tracuuhoadon.triluat.com/">TRA CỨU HÓA ĐƠN ĐIỆN TỬ</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-448" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-448 ">
                        <a href="#">
                            CHỮ KÝ SỐ
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown" style="right: auto;  display: none;">
                            <li><a href="https://triluat.com/dich-vu/bang-gia-chu-ky-so">BẢNG GIÁ CHỮ KÝ SỐ</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-36  ">
                        <a href="https://triluat.com/lien-he">LIÊN HỆ</a>
                    </li>

                    <!-- <li id="menu-item-2097" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2097">
                        <a href="#">Giải pháp theo dịch vụ</a>
                        <ul class="sub-menu">
                            <li id="menu-item-142" class="menu-item menu-item-type-taxonomy menu-item-object-vtproducts_group menu-item-142"><a href="#">Hóa đơn điện tử</a></li>
                            <li id="menu-item-143" class="menu-item menu-item-type-taxonomy menu-item-object-vtproducts_group menu-item-143"><a href="#">Phần mềm kế toán</a></li>
                            <li id="menu-item-1421" class="menu-item menu-item-type-taxonomy menu-item-object-vtproducts_group menu-item-1421"><a href="#">Tư vấn &#038; giải pháp hóa đơn điện tử</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-144" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-144">
                        <a href="#">Giải pháp theo quy mô</a>
                        <ul class="sub-menu">
                            <li id="menu-item-146" class="menu-item menu-item-type-taxonomy menu-item-object-vtproducts_scale menu-item-146"><a href="#">Doanh nghiệp lớn </a></li>
                            <li id="menu-item-147" class="menu-item menu-item-type-taxonomy menu-item-object-vtproducts_scale menu-item-147"><a href="#">Doanh nghiệp vừa và nhỏ </a></li>
                        </ul>
                    </li>
                    <li id="menu-item-148" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-148">
                        <a href="#">Hỏi đáp & kiến thức hóa đơn điện tử </a>
                        <ul class="sub-menu">
                            <li id="menu-item-1417" class="menu-item menu-item-type-taxonomy menu-item-object-vtproducts_business menu-item-1417"><a href="#">Hỏi đáp hóa đơn điện tử</a></li>
                            <li id="menu-item-975" class="menu-item menu-item-type-taxonomy menu-item-object-vtproducts_business menu-item-975"><a href="#">Kiến thức hóa đơn điện tử</a></li>
                            <li id="menu-item-970" class="menu-item menu-item-type-taxonomy menu-item-object-vtproducts_business menu-item-970"><a href="#">Văn bản hóa đơn điện tử</a></li>
                            <li id="menu-item-971" class="menu-item menu-item-type-taxonomy menu-item-object-vtproducts_business menu-item-971"><a href="#">Tin tức</a></li>
                            <li id="menu-item-973" class="menu-item menu-item-type-taxonomy menu-item-object-vtproducts_business menu-item-973"><a href="#">Tra cứu</a></li>
                            <li id="menu-item-2048" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2048"><a href="#">Đăng ký sử dụng</a></li>
                        </ul>
                    </li>-->
                    </li>


                    <!--  <li id="menu-item-449" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-449"><a href="#">Yêu Cầu Tuyển Sinh</a></li>
                    <li id="menu-item-801" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-801"><a href="#"></a></li>
                     <li id="menu-item-463" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-463"><a href="#">Khảo sát ý kiến</a></li>-->
                    </li>
                    <!--<li id="menu-item-383" class="menu-item menu-item-type-taxonomy menu-item-object-vtdocuments_group menu-item-383"><a href="http://www.asianschool.edu.vn/vi-VN/yeu-cau-tuyen-sinh/310">NHẬP HỌC</a></li>
                    <li id="menu-item-383" class="menu-item menu-item-type-taxonomy menu-item-object-vtdocuments_group menu-item-383"><a href="/dang-nhap">Đăng nhập</a></li>-->
                </ul>
            </div>
        </nav>


    </div>

    <!--  new menu -->
    <!--
    <div class="hs-container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="https://triluat.com"> <img src="~/UI/achau/logo_triluat.png" width="70" height="70" style=" display: inline-block;  margin-left: 5px;width: 20%;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
    -->

    <!-- #hs-site-navigation -->
    <div id="user-language-div" style="display:inline-flex">
        @*<div class="dropdown">
                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <img src="../plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">Steave</b> </a>
                <ul class="dropdown-menu dropdown-user animated flipInY">
                    <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                    <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                    <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                </ul>

            </div>*@

        <!-- <div>
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <a class="dropdown-item" href="#">Đăng ký</a>
             </div>
         </div>
         <div>
             <a href="#" class="search_header" id="SearchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
             <div class="dropdown-menu search-dropdow" aria-labelledby="SearchDropdown">
                 <form role="search" method="get" class="search-form" action="https://minvoice.vn/">
                     <label>
                         <span class="screen-reader-text">Tìm kiếm:</span>
                         <input type="search" class="search-field" placeholder="Tìm kiếm" value="" name="s" title="Tìm kiếm" />
                     </label>
                     <input type="hidden" name="lang" value="vi">
                     <input type="submit" class="search-submit" value="Tìm kiếm" />
                 </form>
             </div>
         </div>-->

    </div>

</header>